body {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.48px;
  color: black;
  background-color: #efefef;
  height: 100%;
  margin: 0;
}

h1 {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

h2 {
  font-family: "roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.72px;
}

h3 {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
}

Ol,
ul {
  list-style-type: none;
}

a {
  font-family: "roboto", sans-serif;
  color: currentColor;
  text-decoration: none;
  font-style: normal;
  font-size: 12px;
}

p {
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}

button {
  font-family: "roboto", sans-serif;
  letter-spacing: 2px;
  line-height: 16px;
}

ol,
ul,
li {
  padding: 0;
  margin: 0;
}

input[type="text"]:focus {
  outline: none;
  border: none;
  border: none;
  width: 310px;
}
textarea {
  outline: none;
  border: none;
  border: none;
  resize: none;
  font-size: 12px;
}
input[type="tel"]:focus {
  outline: none;
  border: none;
  border: none;
  width: 310px;
}

input[type="email"]:focus {
  outline: none;
  border: none;
  border: none;
  width: 250px;
}
/* NAV HEADER BAŞLANGIC*/
.menu {
  display: flex;
  height: 72px;
  background-color: #fff;
  justify-content: space-between;
}

.menu-div {
  display: flex;
  align-items: center;
  gap: 40px;
}
.menu-nav {
  gap: 40px;
}

.active {
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  background-color: #4d5ae5;
  bottom: -27px;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 2px;
}
.active:hover::after {
  width: 100%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-div .menu-nav {
  display: flex;
}

.logo {
  line-height: 1.6;
  letter-spacing: 03px;
  font-family: "ralevay", sans-serif;
  font-weight: 700;
  padding-left: 156px;
}

.logo-span {
  color: #4d5ae5;
}

.menu-nav li a:hover {
  color: #404bbf;
}

.menu-address {
  display: flex;
  gap: 40px;
  padding-right: 156px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-container {
  display: flex;
  align-items: center;
}

.menu-address a:hover {
  color: #404bbf;
}
/* NAV HEADER SON*/

/* MAİN HEADER BAŞLANGIÇ */
.main-button {
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  width: 169px;
  height: 56px;
  border-radius: 4px;
}

.main-button:hover,
.main-button:after,
.main-button:focus {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button-span {
  font-weight: 500;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.main-header {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 120px;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
}

.main-button-div {
  display: flex;
  justify-content: center;
}

.main-header h1 {
  text-align: center;
  color: #fff;
}
/* MAİN HEADER SON */

/*ABOUT BAŞLANGIÇ */
.group {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
}

.group svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
}

.about-container {
  display: flex;
  background-color: #fff;
  justify-content: center;
  flex-direction: column;
  padding-left: 26px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-about ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/*ABOUT BİTİŞ*/

/*OUR TEAM BAŞLANGIÇ*/

.our-team {
  display: flex;
  text-align: center;
  background-color: #f4f4fd;
  padding-top: 200px;
}

.our-team ul {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.our-team-container {
  width: 1440px;
  height: 780px;
  display: flex;
  flex-direction: column;
}

.our-team-container ul {
  display: flex;
  justify-content: center;
}

.our-team-container .ot-item {
  width: 264px;
  height: 428px;
  background-color: #fff;
}

.our-team-container h2 {
  text-align: center;
  padding-bottom: 30px;
  color: #2e2f42;
}

.ot-item {
  border-radius: 6px;
  box-shadow: 3px 3px 10px grey;
}

.svg-icon {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.svg-icon svg {
  width: 55%;
  height: 55%;
  fill: white;
}

.svg-icon:hover {
  background-color: #31d0aa;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-ot {
  display: flex;
  justify-content: center;
  gap: 17px;
}

/*OUR TEAM BİTİŞ*/

/*OUT PORTFOLİO BAŞLANGIÇ*/
.animation {
  position: relative;
  overflow: hidden;
}
.overlay {
  color: white;
  background-color: rgba(77, 90, 229, 1);
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  padding: 50px;
}

.animation:hover .overlay {
  transform: translateY(0);
}
.portfolio-container {
  display: flex;
  flex-direction: column;
}

.our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #fff;
}

.our-portfolio img {
  width: 360px;
  height: 300px;
}

.our-portfolio ul {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.our-portfolio ul li {
  border: 1px solid #e7e9fc;
  background-color: #fff;
}

.portfolio-container h2 {
  text-align: center;
  color: #2e2f42;
  padding-bottom: 30px;
}
.our-item1 {
  padding-bottom: 15px;
}

.our-item1 li h3,
.our-item2 li h3 {
  margin-left: 7px;
}
.our-item1 li p,
.our-item2 li p {
  margin-left: 7px;
}

.our-item1 li:hover,
.our-item2 li:hover {
  box-shadow: 3px 3px 10px grey;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-item1 li,
.our-item2 li {
  width: 360px;
  height: 420px;
}
/* OUT PORTFOLİO BİTİŞ */

/* FOOTER BAŞLANGIÇ */
.footer {
  display: flex;
  background-color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
  color: #fff;
  flex-direction: column;
}
.footer p {
  padding-left: 156px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 80px;
}
.foter-email {
  background-color: #2e2f42;
  border: none;
  color: #fff;
}

.foter-emailbox {
  width: 264px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.subscribe-center {
  display: flex;
  justify-content: center;
}
.foter-email::placeholder {
  color: #fff;
}

.subscribe-button {
  background-color: rgba(77, 90, 229, 1);
  border: none;
  border-radius: 4px;
  color: #fff;
  height: 40px;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}
.subscribe-button svg {
  fill: #fff;
  width: 24px;
  height: 20px;
  display: inline;
}
.subscribe-box {
  margin-left: 30px;
}
/* FOOTER BİTİŞ */

/* FUTURSUZCA :D*/
.main {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: 0 auto;
}
/* FUTURSUZCA :D*/

/*LOGİN*/

.model {
  display: none;
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: fixed;
  z-index: 999;
}

.login-form {
  position: fixed;
  width: 408px;
  height: 584px;
  background-color: #fff;
  border-radius: 4px;
  padding: 24px 22px;
}

.close-button svg {
  display: block;
  height: 8px;
  width: 8px;
}

.close-box button {
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 2px solid rgba(189, 185, 185, 0.3);
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: rgba(231, 233, 252, 1);
  border: none;
  cursor: pointer;
}

.close-button:hover,
.close-button:active {
  background-color: rgba(77, 90, 229, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.close-box {
  display: flex;
  justify-content: flex-end;
}

.form-sp {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 5px;
}

.sm-t {
  font-family: "regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: rgba(142, 143, 153, 1);
  margin-top: 20px;
}

.form-box {
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 360px;
  height: 40px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  padding: 5px;
}
.form-box:hover,
.form-box:focus,
.comment-box:hover,
.comment-box:focus {
  border: 1px solid rgba(77, 90, 229, 1);
  fill: rgba(77, 90, 229, 1);
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.form-top16 {
  margin-top: 16px;
}
.form-top4 {
  margin-top: 4px;
}
.form-top8 {
  margin-top: 8px;
}

.form-box svg {
  width: 14px;
  margin-left: 10px;
}

.form-box input {
  margin-left: 10px;
  font-family: "regular", sans-serif;
}
.comment {
  width: 350px;
  height: 100px;
  margin-top: 0px;
}

.comment-box {
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 360px;
  height: 120px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  padding: 5px;
}

.policy-span {
  font-family: "regular", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  margin-left: 3px;
  color: rgba(142, 143, 153, 1);
}

.a-policy {
  color: rgba(77, 90, 229, 1);
}

.form-button {
  display: flex;
  justify-content: center;
  margin-top: 22px;
}

/*-------------------------------*/
.name-t {
  border: none;
}

.form-center {
  display: flex;
  align-items: center;
  max-height: 10px;
}
.is-open {
  display: flex;
}
/*--------------------------------*/
